<!DOCTYPE html>
    <html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/static/bootstrap.css">
        <link rel="stylesheet" href="/static/style.css">
  

    
    </head>
    <body>
        
        <div class="header">
            <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <!-- <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> -->
                <b>HemmyhTech CBT Software</b>
            </a>
            </nav>
        </div>